
/*styles for the table view of player stats*/
table {
    width: 100%;
}

td.name {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 30%;
}

td.points {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

p.table {
    padding: 10px;
}

h1 {
    text-align: center;
}